/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

.btn-md {
  font-size:18px !important;
 }

 .btn-xs {
  cursor:text !important;
 }

label {
  font-size:18px !important;
  margin:15px auto 10px auto !important;
}

h1 {
  margin:10% auto 20px auto !important;
  padding:0 20px !important;
  font-weight:500 !important;
  font-size:28px !important;
}
 
h2 {
  font-size:20px !important;
  margin-bottom:5% !important;
  padding:0 20px !important;
}

.well {
  margin-bottom:0px !important;
}

.well-transparent {
  background-color: rgba(43,62,80,.8) !important;
  padding:5px !important;
}

input {
  text-align:center !important;
}

#sidebar-screenshot {
  background: url(../../sidebar-screenshot.png) top right no-repeat;
  width: 1114px;
  height: 778px;
  position: fixed;
  overflow:hidden;
  top: 30px;
  left: -820px;
}