/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

.btn-md {
  font-size:18px !important;
 }

 .btn-xs {
  cursor:text !important;
 }

label {
  font-size:18px !important;
  margin:15px auto 10px auto !important;
}

h1 {
  margin:10% auto 20px auto !important;
  padding:0 20px !important;
  font-weight:500 !important;
}
 
h2 {
  font-size:24px !important;
  margin-bottom:5% !important;
  padding:0 20px !important;
}

.well {
  margin-bottom:5% !important;
}

input {
  text-align:center !important;
}