.bf-logo {
  display: block;
  text-align: center;
  margin: 15px 0px;
}

.bf-logo img {
  max-width:100%;
}

hr {
  border: 0px;
  width: 100%;
  margin: 10px;
  height: 1px;
  color: #f7f7f7;
  background-color: #f7f7f7;
  margin: 5px 0px;
}

ul.memberships {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.membership {
  color: #404040;
  list-style: none;
}

a.membership-link {
  display: block;
  position: relative;
  height: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  padding-top: 6px;
  padding-bottom: 0;
  padding-left: 31px;
  padding-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.last_activity_note, .next_activity_note {
  display:none;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
  padding: 3px;
  border: 1px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 2px;
  top: 1px;
}

li.membership:hover .icon {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

.icon img {
  max-width:16px;
  max-height:16px;
}