#rapportive-bf .bf-logo {
  display: block;
  text-align: center;
  margin: 15px 0px;
}

#rapportive-bf .bf-logo img {
  max-width:100%;
}

#rapportive-bf-hr {
  border: 0px;
  width: 100%;
  margin: 10px;
  height: 1px;
  color: #DDDDDD;
  background-color: #DDDDDD;
  margin: 5px 0px;
}

#rapportive-bf {
  list-style: none;
  padding: 0;
  margin: 0;
}

#rapportive-bf li.membership {
  color: #404040;
  list-style: none;
}

#rapportive-bf a.membership-link, #rapportive-bf form {
  display: block;
  position: relative;
  height: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  padding-top: 6px;
  padding-bottom: 0;
  padding-left: 31px;
  padding-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#rapportive-bf form {
  height:26px;
}

#rapportive-bf .last_activity_note, #rapportive-bf .next_activity_note {
  display:none;
}

#rapportive-bf .icon {
  display: block;
  width: 16px;
  height: 16px;
  padding: 3px;
  border: 1px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 2px;
  top: 1px;
}

#rapportive-bf a.pipedrive-name:hover > div.icon, #rapportive-bf a.pipedrive-phone:hover > div.icon, #rapportive-bf a.pipedrive-org:hover > div.icon, #rapportive-bf a.pipedrive-last-activity:hover > div.icon, #rapportive-bf a.pipedrive-next-activity:hover > div.icon, #rapportive-bf a.brandfolder-link:hover > div.icon {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

#rapportive-bf .icon img {
  max-width:16px;
  max-height:16px;
}

#rapportive-bf button {
  margin-left: 31px;
  height:19px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 4px rgba(160, 160, 160, 0.3);
  -webkit-box-shadow: 1px 1px 4px rgba(160, 160, 160, 0.3);
  box-shadow: 1px 1px 4px rgba(160, 160, 160, 0.3);
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f4f4f4));
  background: -moz-linear-gradient(top, white, #f4f4f4);
  color: gray;
  padding: 4px 9px;
  margin-top: 4px;
  margin-right: 2px;
  border: 0px;
  font-size: 9px;
  cursor: pointer;  
}

#rapportive-bf button:hover {
  border-color: #3e67a9;
  -moz-box-shadow: 1px 1px 4px rgba(100, 130, 176, 0.4);
  -webkit-box-shadow: 1px 1px 4px rgba(100, 130, 176, 0.4);
  box-shadow: 1px 1px 4px rgba(100, 130, 176, 0.4);
  background: #5685d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#5685d6), to(#3e67a9));
  background: -moz-linear-gradient(top, #5685d6, #3e67a9);
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0px;
}